.container.contact_conatiner{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options{
   display: flex;
   flex-direction: column;
   width: 28%;

    gap: 1.2rem;
}
.contact__option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition); 
}
.contact__option:hover{
   background: transparent;
   background-color:var(--color-primary-variant) ; 

}

.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

/* ==================FORM================== */

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

}

input,textarea{
width: 90%;
padding: 1.5rem;
border-radius: 0.5rem;
background: transparent;
border: 2px solid var(--color-primary-variant);
resize: none;
color: var(--color-white);


}
.main-content{
    margin-left: 26rem;
    margin-top: -33rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.formbtn{
    width: 22%;
    font-size: 1rem;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 0.5rem;
    background: var(--color-primary);
    color: var(--color-bg);
}
.formbtn:hover{
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}
/* ===============Media Queries (Medium Devices)======= */

@media screen and (max-width:1024px) and (min-width:600px){
  .container.contact_container{
    grid-template-columns: 1fr;
    gap: 1rem;

  }
  .main-content{
    margin-left: 20rem;
  }
  .formbtn{
    width: 34%;
    
}
        }
        
/* ===============Media Queries (Small Devices)======= */
        
       
@media screen and ( max-width:800px) and (min-width:350px){
    .container.contact_container{
        grid-template-columns: 1fr;
     width: 80%;
    
      }
      
      .contact__options{
        display: flex;
        flex-direction: column;
        width: 100%;
     
         gap: 1.2rem;
     }
     .main-content{
    
 margin-top: 2rem;
 margin-left: 0.5rem;
    }
    .formbtn{
        width: 64%;
        
    }
}
